body {
  max-width: 100vw;
}

.home-content {
  background: url(../../public/bg.png) no-repeat top right;
  background-size: 60%;
}

.judul-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.judul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.judul h1 {
  margin: 1em 0;
  color: var(--heading);
  font-size: 1.7em;
}

.judul p {
  margin: 0;
  color: var(--txt);
  font-weight: bold;
  font-size: 1em;
  text-align: justify;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
}

.btn-container button {
  display: flex;
  align-items: center;
  background-color: var(--section-head);
  border: none;
  padding: .7em 1em;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: .35s;
}

.btn-container button:hover {
  transform: translateY(-5px);
  background-color: #373a94;
  color: rgb(217, 217, 217);
}

.btn-container a {
  text-decoration: none;
}

.btn-container img {
  max-width: 30px;
	position: absolute;
	margin-top: 5px;
	margin-left: 80px;
}

.anim {
  display: flex;
  justify-content: center;
  margin-top: 4.5em;
  margin-bottom: 4em;
}

.pict {
  min-width: 100px;
  max-width: 300px;
  animation: animate 1.8s infinite ease-in-out alternate;
}

@keyframes animate {
	100% {
		-webkit-transform: translateY(25px);
		-moz-transform: translateY(25px);
		-ms-transform: translateY(25px);
		-o-transform: translateY(25px);
	}
}

.content {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 16px;
}

h2 {
  color: var(--section-head);
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: rgb(254, 254, 254);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.22);
  border-radius: 30px;
}

.card h3 {
  text-align: center;
  color: var(--heading);
}

.card img {
  max-width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1em;
}

.card p {
  color: var(--txt);
  font-size: 15px;
  font-weight: bold;
  max-width: 300px;
  text-align: justify;
}

.txt-desc {
  max-width: 500px;
}

.btn-movie-container {
  margin-top: .7em;
  display: flex;
  justify-content: center;
}

.txt-movie-container {
  display: flex;
  justify-content: center;
}

.btn-movie {
  background-image: linear-gradient(to bottom right, var(--heading), var(--section-head));
  border: none;
  padding: .7em 1em;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: .35s;
}

.btn-movie:hover {
  transform: translateY(-5px);
  color: rgb(217, 217, 217);
  background-image: linear-gradient(to bottom right, #373a94, #016aab);
}

.btn-movie .btn-txt {
  color: white;
  margin: 0;
  font-weight: bold;
}

footer {
  margin-top: .8em;
  display: flex;
  max-width: 100%;
  background-image: linear-gradient(to right, var(--heading), var(--section-head));
  align-items: center;
  padding: 0 .5em;
  border-radius: 15px 15px 0px 0px;
  gap: 8em;
}

.brand {
  display: flex;
  gap: .3em;
}

.brand p {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-top: 1.2em;
}

.brand img {
  max-width: 10%;
  object-fit: contain;
}

.kontak {
  display: flex;
  gap: 10px;
}

.kontak img {
  max-width: 24px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.385);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom right, var(--heading), var(--section-head));
	border-radius: 100px;
}

@media (min-width: 40em) {
  
  body {
    background-size: 55%;
  }

  .judul-container {
    flex-direction: row;
    gap: 4em;
  }

  .judul-txt {
    max-width: 500px;
  }

  .card {
    width: 500px;
  }

  .card p {
    color: var(--txt);
    font-size: 15px;
    font-weight: bold;
  }

  .pict {
    min-width: 250px;
  }

  footer {
    justify-content: center ;
    gap: 68em;
  }

  .brand img {
    min-width: 25px;
  }

  .kontak a img {
    min-width: 25px;
  }

  .kontak {
    margin-top: 10px;
  }
}

@media (min-width: 57em) {
  .judul-container {
    justify-content: space-evenly;
  }
}