@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tanggal .tanggal1:hover ~ tanggal {
  transform: scale(1);
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.createInput span {
  pointer-events: none;
}

.createInput span:hover ~ span,
.createInput span:valid ~ span,
.createInput input:valid ~ span,
.createInput input:focus ~ span,
.createInput input:hover ~ span {
  font-size: smaller;
  transform: translateY(-22px);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  /* border-width: 1px; */
  border: 1px solid gray;
  border-top-style: hidden;
  border-bottom-style: hidden;
  /* background: transparent; */
  /* color: gold; */
}
