@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --heading: #0071B8;
  --section-head: #3B3EA1;
  --txt: #00A1BA;
  --btn-base: #9BCC22;
  --btn-gradl: #749919;
  --btn-gradr: #009EB6;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}